BODY,HTML {
	FONT-SIZE: 12px;
	MARGIN: 0px;
	height:auto;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding: 0px;
	height:99%;
}
#TopNavLogo {
	FONT-SIZE: 18px;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none
}
#TopBCRId {
	FONT-SIZE: 18px; COLOR: #e1e1e1; TEXT-DECORATION: none
}
#ButtonList {
	BACKGROUND-COLOR: #c6c3c6
}
.BaseTab {
	MARGIN-TOP: 5px; DISPLAY: block; PADDING-BOTTOM: 15px; WIDTH: 100%; BACKGROUND-COLOR: #83C326
}
.BaseTab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.BaseTab UL LI {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #999 1px solid; DISPLAY: inline; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN-LEFT: 0px; BORDER-LEFT: #999 1px solid; LINE-HEIGHT: 21px; PADDING-TOP: 3px; BORDER-BOTTOM: #83C326 1px solid; LIST-STYLE-TYPE: none
}
.BaseTab UL LI.SpaceTab {
	BORDER-TOP: #ffffff 1px solid; DISPLAY: block; BACKGROUND: #ffffff; BORDER-BOTTOM: #83C326 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.BaseTab UL LI.Active {
	BORDER-RIGHT: #83C326 1px solid; BORDER-TOP: #83C326 1px solid; BACKGROUND: #83C326; BORDER-LEFT: #83C326 1px solid; BORDER-BOTTOM: #83C326 1px solid
}
.BaseTab UL LI.Active A {
	TEXT-DECORATION: none
}
.BaseTab A {
	COLOR: #37428a
}
.BaseTab A:unknown {
	COLOR: #37428a
}
.BaseTab UL LI.EndTab {
	BORDER-TOP: #ffffff 1px solid; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: none; MARGIN: 0px; BORDER-BOTTOM: #83C326 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
DIV.CommonDiv {
	BORDER-RIGHT: #83C326 1px solid;
	BORDER-TOP: #83C326 1px solid;
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 1px;
	BORDER-LEFT: #83C326 1px solid;
	BORDER-BOTTOM: #83C326 1px solid;
	BACKGROUND-COLOR: #ffffff;
	height:98%
}
#TopNavMain {
	CLEAR: both;
	MARGIN: 0px;
	WIDTH: 100%;
	HEIGHT: 25px
}
#TopNavLogo {
	FLOAT: left; MARGIN: 1px 10px
}
#TopBCRId {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: 70%
}
#TopBCRId A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; COLOR: #e0e0e0; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#TopNavAbout {
	MARGIN-TOP: 4px;
	FLOAT: right;
	MARGIN-BOTTOM: 4px
}
#TopNavAbout A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 4px; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#TopBCR {
	CLEAR: none;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 100%;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #c6c3c6
}
#TopBCR UL LI {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	BACKGROUND-COLOR: #c6c3c6
}
#TopBCR UL LI.SpaceTab {
	BORDER-TOP: #c6c3c6 1px solid
}
#TopBCR UL LI.EndTab {
	BORDER-TOP: #c6c3c6 1px solid
}
#TopBCR UL LI.Active {
	BORDER-BOTTOM: #ffffff 1px solid
}
#TopBCR #CreatBC {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
#TopBCR UL LI.Cram {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#TopBCR UL LI.Cram A {
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px;
	PADDING-TOP: 3px
}
#TopNavProjectListLi {
	PADDING-RIGHT: 5px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #83C326 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px
}
#TopNavProjectList {
	BORDER-RIGHT: #83C326 1px solid; BORDER-TOP: #83C326 1px solid; FLOAT: left; BORDER-LEFT: #83C326 1px solid; WIDTH: 200px; BORDER-BOTTOM: #83C326 1px solid
}
TABLE.CommonTable {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #808080 1px solid; WIDTH: 100%; BORDER-BOTTOM: #808080 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TABLE.CommonTable CAPTION {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 13px; MARGIN: 0px; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid
}
TABLE.CommonTable TH {
	BORDER-RIGHT: #ddddbb 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddddbb 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #ddddbb 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ddddbb 1px solid
}
TABLE.CommonTable TD {
	BORDER-RIGHT: #ddddbb 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddddbb 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #ddddbb 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ddddbb 1px solid
}
TABLE.CommonTable LABEL {
	FONT-SIZE: 12px
}
TABLE.CommonTable SELECT.FullSelect {
	WIDTH: 100%
}
TABLE.CommonTable SELECT.MultiSelect {
	WIDTH: 120px
}
TABLE.CommonTable A {
	TEXT-DECORATION: none
}
TABLE.CommonTable TH A:visited {
	COLOR: #0000ff
}
TABLE.CommonSubTable {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.CommonSubTable TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.CommonSubTable TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.AdminTable TR TH {
	TEXT-ALIGN: left
}
BODY {
	COLOR: #020202; BACKGROUND-COLOR: #ffffff
}
#TopNavMain {
	BORDER-BOTTOM: #cccccc 2px solid
}
#TopNavAbout A {
	COLOR: #f0f0f0
}
BODY.BugMode {
	BACKGROUND-COLOR: #f6f6f6
}
H2.BugMode {
	BACKGROUND-COLOR: #f6f6f6
}
BODY.BugMain {
	BACKGROUND-COLOR: #f6f6f6
}
BODY.PaddingBoy {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.BugMode #TopNavMain {
	BACKGROUND-COLOR: #83C326
}
.BugMode #TopBCR UL LI.Active {
	BORDER-BOTTOM: #f6f6f6 1px solid; BACKGROUND-COLOR: #f6f6f6
}
TABLE.BugMode {
	BORDER-LEFT-COLOR: #83C326; BORDER-BOTTOM-COLOR: #83C326; BORDER-TOP-COLOR: #83C326; BORDER-RIGHT-COLOR: #83C326
}
TABLE.BugMode CAPTION {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #83C326; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #83C326; COLOR: #666666; BORDER-TOP-COLOR: #83C326; BACKGROUND-COLOR: #BFFF80; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #83C326;width:80px;text-align:left;padding-left:10px;
}
TABLE.BugMode TD.TdCaption {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #83C326; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #83C326; COLOR: #666666; BORDER-TOP-COLOR: #83C326; BACKGROUND-COLOR: #BFFF80; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #83C326
}

A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET.Normal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px; WORD-BREAK: break-all; PADDING-TOP: 3px; WORD-WRAP: break-word
}
FIELDSET.Normal LEGEND {
	FONT-WEIGHT: bold; COLOR: #008000
}
TEXTAREA {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
FORM {
	MARGIN: 0px
}
FORM P {
	WIDTH: 100%; TEXT-ALIGN: center
}
FORM P LABEL {
	FLOAT: left; MARGIN: 0px; WIDTH: 200px; TEXT-ALIGN: right
}
FORM P INPUT {
	FLOAT: left; MARGIN-LEFT: 12px
}
FORM DIV {
	TEXT-ALIGN: center
}
#CustomDisplay {
	FONT-SIZE: 12px; TEXT-ALIGN: left
}
#CustomDispay DIV {
	FONT-SIZE: 12px; TEXT-ALIGN: left
}
#CustomDispay DIV LABEL {
	FONT-SIZE: 12px; TEXT-ALIGN: left
}
#CustomDisplay A {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
INPUT {

}
TEXTAREA {

}
SELECT {

}
INPUT:unknown {
	BORDER-LEFT-COLOR: #e88c25; BORDER-BOTTOM-COLOR: #e88c25; BORDER-TOP-COLOR: #e88c25; BACKGROUND-COLOR: #fefdb9; BORDER-RIGHT-COLOR: #e88c25
}
TEXTAREA:unknown {
	BORDER-LEFT-COLOR: #e88c25; BORDER-BOTTOM-COLOR: #e88c25; BORDER-TOP-COLOR: #e88c25; BACKGROUND-COLOR: #fefdb9; BORDER-RIGHT-COLOR: #e88c25
}
SELECT:unknown {
	BORDER-LEFT-COLOR: #e88c25; BORDER-BOTTOM-COLOR: #e88c25; BORDER-TOP-COLOR: #e88c25; BACKGROUND-COLOR: #fefdb9; BORDER-RIGHT-COLOR: #e88c25
}
TEXTAREA {
	FONT-SIZE: 13px
}
TEXTAREA {
	OVERFLOW-Y: auto; OVERFLOW-X: auto
}
.ActionButton {
	WIDTH: 100px
}
.NoBorder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.FloatLeft {
	FLOAT: left
}
.FloatRight {
	FLOAT: right
}
.Reset {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CURSOR: pointer; COLOR: #444444; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
#ActionMessage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 3px; MARGIN: 22px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.GoodNews {
	BACKGROUND-COLOR: #52e070
}
.Warning {
	BACKGROUND-COLOR: #ff5000
}
.Error {
	BACKGROUND-COLOR: #ff3434
}

.StatMode {
	BACKGROUND-COLOR: #0077cc
}
A.BigButton {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; LETTER-SPACING: 1px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.OpenBug {
	BORDER-RIGHT: #acacac 2px solid; BORDER-TOP: #bc3818 1px solid; BACKGROUND: #bc3818; BORDER-LEFT: #bc3818 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #bc3818 1px solid
}

.TabContainer {
	MARGIN: 4px 0px 4px 4px; WIDTH: 96%
}
.TabPage {
	BORDER-RIGHT: #83C326 1px solid; BORDER-TOP: #83C326 1px solid; FLOAT: left; MARGIN-LEFT: 0px; BORDER-LEFT: #83C326 1px solid; BORDER-BOTTOM: #83C326 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
.Tab {
	BORDER-RIGHT: #83C326 1px solid; BORDER-TOP: #83C326 1px solid; FLOAT: left; MARGIN-LEFT: 0px; BORDER-LEFT: #83C326 1px solid; BORDER-BOTTOM: #83C326 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
.TabSelect {
	BORDER-RIGHT: #83C326 1px solid; BORDER-TOP: #83C326 1px solid; FLOAT: left; MARGIN-LEFT: 0px; BORDER-LEFT: #83C326 1px solid; BORDER-BOTTOM: #83C326 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
.Tab A {
	DISPLAY: block
}
.TabSelect A {
	DISPLAY: block
}
.TabPage {
	PADDING-RIGHT: 0px; OVERFLOW-Y: auto; PADDING-LEFT: 5px; Z-INDEX: 1; OVERFLOW-X: hidden; PADDING-BOTTOM: 3px; WIDTH: 100%; LINE-HEIGHT: 18px; PADDING-TOP: 6px; TOP: -2px; HEIGHT: 180px
}
.TabPage A {
	TEXT-DECORATION: none
}
.TabPage A:active {
	COLOR: #6666bb
}
.TabPage A:visited {
	COLOR: #6666bb
}
.Tab {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; MARGIN: 3px 1px 0px 0px; CURSOR: hand; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.TabSelect {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 1px; MARGIN: 3px 1px 0px 0px; CURSOR: hand; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.TabSelect {
	PADDING-RIGHT: 4px; BORDER-TOP: #ffc132 1px solid; PADDING-LEFT: 4px; Z-INDEX: 2; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px 0px; PADDING-TOP: 2px
}
.Tab A {
	FONT-WEIGHT: normal; COLOR: #535353; TEXT-DECORATION: none
}
.Tab A:unknown {
	FONT-WEIGHT: normal; COLOR: #535353; TEXT-DECORATION: none
}
.TabSelect A {
	COLOR: #3557b5; TEXT-DECORATION: none
}
.TabSelect A:unknown {
	COLOR: #3557b5; TEXT-DECORATION: none
}
.Tab:hover {
	BORDER-TOP: #e38123 1px solid
}
A.FullLink {
	DISPLAY: block; WIDTH: 100%
}
TABLE.ListTable .SortActive {
	BACKGROUND-COLOR: #cde0fd
}
TABLE.ListTable TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
TABLE.ListTable TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
TABLE.SearchTable TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.SearchTable TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.SearchTable TH.TopLine {
	BORDER-TOP: #808080 1px solid
}
TABLE.SearchTable TD.TopLine {
	BORDER-TOP: #808080 1px solid
}
TABLE.SearchTable #AndORTd {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 0px solid; BORDER-LEFT: #808080 1px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #808080 0px solid
}
DIV.CommonForm {
	MARGIN-TOP: 3px; MARGIN-LEFT: 16px; WIDTH: 95%
}
DIV.CommonForm H1 {
	DISPLAY: inline; FONT-SIZE: small
}
DIV.CommonForm DL {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px
}
DIV.CommonForm DL.Line {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px 0px; OVERFLOW: hidden; WIDTH: 95%; PADDING-TOP: 0px; BORDER-BOTTOM: #808080 1px dotted; HEIGHT: 1px
}
DIV.CommonForm DL DT {
	FLOAT: left
}
DIV.CommonForm DL DD {
	FLOAT: left
}
DIV.CommonForm DL DT {
	PADDING-RIGHT: 1em; FONT-WEIGHT: bold; WIDTH: 85px; COLOR: #111111; TEXT-ALIGN: left
}
DIV.CommonForm DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; PADDING-TOP: 0px
}
DIV.CommonForm DD OL {
	PADDING-LEFT: 0px
}
DIV.CommonForm DD.SelectButton {
	PADDING-TOP: 33px
}
DIV.CommonForm DD.List {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 28%; PADDING-TOP: 1px
}
DIV.CommonForm DD.Block {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; OVERFLOW: auto; BORDER-LEFT: #808080 1px solid; WIDTH: 70%; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #f8f8f8; TEXT-ALIGN: left
}
DIV.CommonForm DD.List FIELDSET {
	DISPLAY: block; FLOAT: left; WIDTH: 98%
}
DIV.CommonForm DD.List DL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
DIV.CommonForm DD.List DL DT {
	CLEAR: none; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 40%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.CommonForm DD.List DL DD {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.CommonForm SELECT.FullSelect {
	WIDTH: 100%; HEIGHT: 1.1em
}
DIV.CommonForm SELECT.MultiSelect {
	WIDTH: 130px
}
DIV.CommonForm SELECT.NormalSelect {
	WIDTH: 130px
}
DIV.CommonForm LABEL {
	FONT-SIZE: 1em
}
#BugMain {
	BORDER-RIGHT: #dddddd 0px solid; PADDING-RIGHT: 0pt; BORDER-TOP: #dddddd; PADDING-LEFT: 0pt; PADDING-BOTTOM: 10px; MARGIN: 0px auto; BORDER-LEFT: #dddddd 0px solid; WIDTH: 981px; PADDING-TOP: 20px; BORDER-BOTTOM: #dddddd 0px solid; TEXT-ALIGN: left
}

#BugMain {
	BACKGROUND-COLOR: #f6f6f6
}
#BugSummaryInfo {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 100%
}
#BugMainInfo {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 100%
}
#BugHistory {
	CLEAR: both; MARGIN-TOP: 5px; WIDTH: 100%
}

#ParentModuleID {
	WIDTH: 100%
}
#Pagination {
	FONT-SIZE: 12px
}
#Pagination A {
	CLEAR: none; MARGIN: 0px 2px
}
.RequiredField {
	BACKGROUND-COLOR: #ffffbb
}


.outline {
	margin: 1px;
}