
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}

.button 
{ 
	border:1px solid #D4D0C8; 
	cursor:default;
}



form {
	margin: 0px;
	padding: 0px;
}


select
{
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    border: 1px #cccccc solid;
}

table
{
    font-size: 12px;
    border: 0px #cccccc solid;
    margin: 0px;
	padding: 0px;
	

}

input
{
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    background-color: #DAE7FD;
	border: 1px #cccccc solid;
}
/*****************************************************
Menu Controls
*****************************************************/

a:link {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a.red:link {
	color: #FF0000;
	text-decoration: none;
}
a.red:visited {
	color: #FF0000;
	text-decoration: none;
}
a.red:hover {
	color: #0000FF;
	text-decoration: none;
}


a.blue:link {
	color: #0000FF;
	text-decoration: none;
}
a.blue:visited {
	color: #0000FF;
	text-decoration: none;
}
a.blue:hover {
	color: #FF0000;
	text-decoration: none;
}

th
{
	background-color: #83C326;
	font-size: 12px;
	height: 20px;
	color:#ffffff;
}
tr
{
	height: 20px;
	color:#blue;
}
body 
{   

    FONT-SIZE: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}

fieldset 
{   

    FONT-SIZE: 12px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;

}

.button1
{
	BORDER-BOTTOM: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 12px;
	HEIGHT: 18px;
	margin: 0px;
	background-image: url('../images/buttonbg.gif');
	padding: 0px;
}

/*  文字?色 */
.red{color:red}
.green{color:green}
.blue{color:blue}
.white{color:white}
.gray{color:gray}
.orange{color:orange}
.yellow{color:yellow}

/*下划?*/
.line1{border-bottom:1px solid #4A7B26;}
.line2{border-bottom:1px solid #4A7B26; border-top:1px solid #4A7B26;}
input.focus{
	filter:blur(strength=50) ;
	border:1pt solid green;
}
div.list {
	/*width:100%;*/
}
div.page {
	float:left;
	background: #FBFAF8;
	border: 0px solid #d4d4d4;
	padding: 0px;
	width:100%;
	margin:0px;
	line-height:180%;
	text-align:right;
}

table.list {
	padding:0px;
	/*width:100%;*/
	/*float:left;*/
}
table.list td{
	padding:0px;
	text-align: left;
	height:20px;
}
table.list th{
	padding:0px;
	text-align: center;
	height:18px;
}


/*
关于菜单的样式定义
*/
.ThemeOfficeMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; FONT-FAMILY: arial, verdana, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.ThemeOfficeSubMenuTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; FONT-FAMILY: arial, verdana, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.ThemeOfficeSubMenu {
	BORDER-RIGHT: #8c867b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #8c867b 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100; VISIBILITY: hidden; PADDING-BOTTOM: 0px; OVERFLOW: visible; BORDER-LEFT: #8c867b 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #8c867b 1px solid; POSITION: absolute
}
.ThemeOfficeSubMenuTable {
	OVERFLOW: visible
}
.ThemeOfficeMainItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItem {
	
}
.ThemeOfficeMainItemHover {
	BACKGROUND-COLOR: #b5cde8
}
.ThemeOfficeMainItemActive {
	BACKGROUND-COLOR: #b5cde8
}
.ThemeOfficeMenuItem {
	BACKGROUND-COLOR: #f1f3f5
}
.ThemeOfficeMenuItemHover {
	BACKGROUND-COLOR: #b5cde8
}
.ThemeOfficeMenuItemActive {
	BACKGROUND-COLOR: #b5cde8
}
.ThemeOfficeMainItem {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TD.ThemeOfficeMainItemHover {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 0px
}
TD.ThemeOfficeMainItemActive {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 0px
}
.ThemeOfficeMainFolderLeft {
	
}
.ThemeOfficeMainItemLeft {
	
}
.ThemeOfficeMainFolderText {
	
}
.ThemeOfficeMainItemText {
	
}
.ThemeOfficeMainFolderRight {
	
}
.ThemeOfficeMainItemRight {
	
}
TD.ThemeOfficeMainFolderLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid
}
TD.ThemeOfficeMainItemLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid
}
TD.ThemeOfficeMainFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid
}
TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuFolderLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #30559c 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemRight {
	BORDER-RIGHT: #30559c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #30559c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #30559c 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #dde1e6
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #dde1e6
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuSplit {
	BORDER-TOP: #c6c3bd 1px solid; MARGIN: 2px; OVERFLOW: hidden; HEIGHT: 1px
}
.ThemeOfficeMenuItem IMG.seq1 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemHover seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemActive seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItem .seq2 {
	DISPLAY: none
}
.ThemeOfficeMenuItemHover .seq1 {
	DISPLAY: none
}
.ThemeOfficeMenuItemActive .seq1 {
	DISPLAY: none
}

/*
关于autocomplete的样式定义
*/

#description {
	background:#F8FCFE;
	border: 1px solid #EAEAEA;
	padding: 2px;
	margin-top: 2px;
	width:98%;
	margin:0 auto;
	display:block;
	
}

#description ul {
	margin: 0;
	padding: 0;
	list-style:none!important;
	list-style-image: none!important;
}

#description ul li {
	margin-bottom: 10px;
}






div.autocomplete {
      position:absolute;
      width:400px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
}
	
div.autocomplete ul {
	list-style:none!important;
	list-style-image:none!important;
	margin:0px;
	padding:0px;
}

div.autocomplete ul li.selected {
	background-color: #f4faff;
}

div.autocomplete ul li {
	font-size: small;
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
}
